native-app/node_modules/
native-app/.expo/
native-app/dist/
native-app/npm-debug.*
native-app/*.jks
native-app/*.p8
native-app/*.p12
native-app/*.key
native-app/*.mobileprovision
native-app/*.orig.*
native-app/web-build/

# macOS
.DS_Store



backend/node_modules/